numpy==1.26.4
opencv-python==4.9.0.80
scipy==1.11.4
tensorflow-macos==2.16.1
tensorflow-metal==1.2.0
colorama==0.4.6
tqdm==4.66.1
ffmpeg-python==0.2.0
Pillow==10.2.0
scikit-image==0.22.0
h5py==3.10.0
PySide6==6.6.1
numexpr==2.9.0

